/* :root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 2px;
  border: 1px solid var(--primary);
  transition: all 250ms ease;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 12px 20px;
  font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
  background: #fff;
  color: #242424;
  transition: all 250ms ease;
} */

@import "../components/Navbar.css";

:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  margin: 0 10px;
  /* border-radius: 2px; */
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  /* border-radius: 5px; */
  position: relative;
  z-index: 10;
}

.btn-with-icon {
  /* border: var(--dev-border); */
  position: relative;
  background: var(--white);
  /* display: flex; */
}

.btn > div {
  display: inline-block;
  /* display: inline-block;
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px; */
  /* padding: 0 15px; */
  /* border: var(--dev-border); */
}

.btn-with-icon > div {
  /* border: var(--dev-border); */
  position: relative;
  /* top: -2px; */
}

.account-icon {
  /* border: var(--dev-border); */
  position: relative;
  top: 3px;
  left: 5px;
}

.btn--primary {
  border: 1px solid --white;
  color: var(--black);
  transition: var(--hover);
  /* display: flex; */
  /* border: 1px solid var(--primary); */
}

.btn--outline {
  background-color: rgba(242, 242, 242, 0.15);
  color: var(--white);
  padding: 13px 26px !important;
  border: 1px solid var(--white);
  transition: all 0.3s ease-out;
}

.btn--outline:hover {
  background: var(--white);
  outline: none;
  border: 1px solid var(--black);
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 14px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: var(--black);
  color: var(--green);
  transition: 250ms;
}

@media only screen and (max-width: 600px) {
  .btn--large {
    font-size: 14px;
  }
}
